

<% if the_user == nil %>
  <div id="no_user">

    <% if flash[:register_notice] %>
      <p><%= flash[:register_notice] %></p>
    <% end %>
    <a href="/register/">
      <div id="register_button">Register</div>
    </a>

    <div class="wrapper">
      <form action="/" method="post">
        <label for="username">username</label>
        <input type="text" name="username" id="username"/>
        <br/>
        <label for="password">password</label>
        <input type="text" name="password" id="password"/>
        <br/>
        <button type="submit">Login</button>

      </form>
    </div>
  </div><!-- no user ends -->
<% end %>


<div class="logged_in_page">
  <% if the_user != nil %>
    <h1>Welcome, <%=the_user%></h1>
    <a href="/">
      <div id="logout_button">Logout</div>
    </a>
  <% end %>

</div>