<!DOCTYPE html>
<html>
<head>
  <title>MyTown.US</title>
  <link href="styling.css" rel="stylesheet" type="text/css">
  <style>

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      float: left;
    }

    a:link, a:visited {
      display: block;
      width: 300px;
      font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
      font-weight: normal;
      color: #ffffff;
      background-color: #00b2b4;
      text-align: left;
      padding: 4px;
      text-decoration: none;
      text-transform: capitalize;
    }

    a:hover, a:active {
      background-color: #00b2b4;
    }
  </style>
</head>
<body>
<h1>My Town</h1>
<ul>
  <li></li><a href="#home">Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>

<footer>Copyright 2014 | Natalie Gregory | The P3 Group</footer>
</body>

</html>